.cookie-banner {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    z-index: 5;
    
  }
  
  .cookie-banner p {
    margin: 0;
    display: inline-block;
  }
  
  .cookie-banner button {
    display: inline-block;
    background-color: #06AA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .cookie-banner button:hover {
    background-color: #45a049;
  }
  